<html>

    <head>
        <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
        <script type="text/javascript">
          ShopifyApp.init({
            apiKey: '{{ .Config.ShopifyApiKey }}',
            shopOrigin: 'https://{{ .Shop }}'
          });
        </script>
      </head>

    <body>home page

      <p></p>
      <a href="/shopify/buildIndex?shop={{ .Shop }}&hmac={{ .HMac }}&timestamp={{ .Timestamp }}&locale={{ .Locale }}">Link test</a>

      <form action="/shopify/buildIndex" method="GET">
        <input type="hidden" name="shop" value="{{ .Shop }}" />
        <input type="hidden" name="hmac" value="{{ .HMac }}" />
        <input type="hidden" name="timestamp" value="{{ .Timestamp }}" />
        <input type="hidden" name="locale" value="{{ .Locale }}" />
        <button>Submit</button>
      </form>

    </body>

</html>